
* {
    padding: 0;
    margin:  0;
}

body {
    background: bisque;
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
}

header {
    display: table;
    padding: 1em 12%;
    background: #2c3e50;
    color: floralwhite;
    width: 100%;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

header div {
    display:table-cell;
    vertical-align: central;
    height: 6em;
}

footer {
    background: gray;
    color: floralwhite;
    font-size: 20px;
    padding: 5px 20px;
    margin: 20px 0;
    text-transform: none;
}